.heading{
    font-size: 80px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    text-shadow:  2px 4px 3px #FF0000, 2px 4px 5px blue;
    transition: 10s;
}
.heading:hover{
    cursor: pointer;
}

.collection{
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
    margin: 50px;
   
}

.container img{
  width: 250px;
  height: 300px;
  padding: 30px;
  margin: 20px;
  box-shadow: 5px 6px 10px rgb(157, 146, 146);
  border-radius: 20px;
  cursor: pointer;
  transition: 20s; 
}

.container img:hover{
    background: rgb(22, 40, 142);
    transform: rotate(20deg);
    
}
h1, h5{
    text-align: center;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h5{
    color: rgb(175, 173, 171);
}
/* .container{
    background: transparent;
    top: 0;
    left: 0;
    /* transition: 30s; */
   



.btn {
    text-align: center;
   
}
.btn a button{
    text-align: center;
    color: white;
    font-size: 15px;
    padding: 15px 50px;
    border-radius: 50px;
    background: linear-gradient( #280359, #ae0cae 80%);
    border: rebeccapurple;
    box-shadow:3px 4px 5px rgb(108, 105, 105) ;
    cursor: pointer;
   
    
}
.btn a button:hover{
    background: linear-gradient(#178f23, #1e9fb5 80%);
    color: black;
    

}